.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 600px;
}

.bar {
  background-color: #008060;
  margin: 0 1px;
  display: flex;
  justify-content: center;
  /* width: 5px; */
}
