.tutorial {
  font-weight: 300;
  font-size: 0.9rem;
  color: #cbc7c0;
  width: 40rem;
  margin: 0 auto;
  padding-top: 15px;
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.section {
  display: flex;
  padding-top: 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.color {
  margin: 0 8px;
  width: 25px;
  height: 16px;
}
